<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430546731091-61l2bh6450nu12m31jc6ihhnei48dksc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430546731091-61l2bh6450nu12m31jc6ihhnei48dksc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>430546731091-3vjgs13u8kcphfvgb1agbmcmovos50dt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVmPOWcHFteGKV5j8OFq5X-8GtYQ_UvCY</string>
	<key>GCM_SENDER_ID</key>
	<string>430546731091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoyopon.ypay</string>
	<key>PROJECT_ID</key>
	<string>ypay-558d0</string>
	<key>STORAGE_BUCKET</key>
	<string>ypay-558d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430546731091:ios:af8cd113bfd5f0ea38c6a6</string>
	<key>DATABASE_URL</key>
	<string>https://ypay-558d0.firebaseio.com</string>
</dict>
</plist>